@charset "UTF-8";
{
    font-family: arial, helvetica, sans-serif;
    height: 100%;
}
body{
    background-image: linear-gradient(to bottom,#99B4BF,#253C59);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(80, 7, 7);
    width: 600px;
    padding: 10px;
    margin:auto
}
h1{
    color: #796608;
    text-align: center;
    text-shadow: 1px 1px 1px #0ff335;
}
h2{
    color: #BF8D30;
}
p{
    text-align: justify;
}